*.json
*.toml
/examples/AutomaticGate/build
/examples/AutomaticGate/.vscode
/examples/TestBlinky/build
/examples/TestBlinky/.vscode
/examples/Blinky/build
/examples/Blinky/.vscode
/examples/Blinky_P/build
/examples/Blinky_P/.vscode
/examples/PedestrianLight/build
/examples/PedestrianLight/.vscode
/examples/RailCrossing/build
/examples/RailCrossing/.vscode
/examples/StartStopMotor/build
/examples/StartStopMotor/.vscode
